### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total= purchase_file_df["Purchase ID"].count()
total
p={"Total Player":[total]}
df=pd.DataFrame(p,columns=["Total Player"])
df

   Total Player
0           780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items= purchase_file_df["Item Name"].unique()
total_unique_items= len(unique_items)


average_price= purchase_file_df["Price"].mean()
average_price

total_purchases= purchase_file_df["Item Name"].count()
total_purchases

total_revenue= purchase_file_df["Price"].sum()
total_revenue

total_df={"Number of Unique Items":[total_unique_items],"Average Purchase Price": [average_price], "Total Number of Purchases":[total_purchases],
        "Total Revenue": [total_revenue]} 
            
df=pd.DataFrame(total_df)
df

# purchasing_df.rename(columns = {"Number of Unique Items":"Unique Items", "Number of Purchases":"Purchases" })

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender= purchase_file_df["Gender"].value_counts()
gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [5]:
total= gender.sum()
total

780

In [6]:
percentage_players= gender/ total *100
percentage_players

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [7]:
total_gender_df={"Total Count":gender, "Percentage of Players":percentage_players}
total_gender_df

{'Total Count': Male                     652
 Female                   113
 Other / Non-Disclosed     15
 Name: Gender, dtype: int64,
 'Percentage of Players': Male                     83.589744
 Female                   14.487179
 Other / Non-Disclosed     1.923077
 Name: Gender, dtype: float64}

In [8]:
df=pd.DataFrame(total_gender_df)
df["Percentage of Players"]= (df["Percentage of Players"]).map("{:.1f}%".format)
df

                       Total Count Percentage of Players
Male                           652                 83.6%
Female                         113                 14.5%
Other / Non-Disclosed           15                  1.9%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
average_price_df=purchase_file_df.groupby(["Gender"])

In [34]:
purchase_count=average_price_df["Purchase ID"].count()
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [21]:

purchase_price=average_price_df["Price"].mean() 
purchase_price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [35]:
# # find the average

purchase_by_gender=average_price_df["Price"].sum()
purchase_by_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [54]:

purchasing_analysis={"Purchase Count": purchase_count, "Average Purchase Price": purchase_price, "Total Purchase Value": purchase_by_gender} 
df=pd.DataFrame(purchasing_analysis)
df["Average Purchase Price"] =df["Average Purchase Price"].map("${:,.2f}".format)
df["Total Purchase Value"] =df["Total Purchase Value"].map("${:,.2f}".format)
df
# purchasing_gender= {"Purchase Count":[113,652,15], "Average Purchase Price": ["$3.20","$3.02","$3.35"], "Total Purchase Value": ["$361.94", "$1967.64", "$50.19"], "Avg Total Purchase per Person": ["$4.47", "$4.07", "$4.56"]}
# purchasing_gender_df=pd.DataFrame(purchasing_gender, index = ["Gender", "Female", "Male", "Other/Non-Disclosed"]
# purchasing_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [14]:
print(purchase_file_df["Age"].min())
print(purchase_file_df["Age"].max())

7
45

In [ ]:
bins=[5,13,19,20,39,50,]
age_group=["Child", "Teenager", "Young Adult", "Adult", "Older Adult"]
purchase_file_df["Age Group"] = pd.cut(purchase_file_df["Age"], bins, labels=age_group, include_lowest=True)
purchase_file_df

In [ ]:
age_range = purchase_file_df["Age Group"].value_counts()
age_range

In [ ]:
total_purchases = purchase_file_df["Age Group"].count()
total_purchases

In [ ]:
per_age_range = age_range / total_purchases
per_age_range

In [75]:
age_total_count_df={"Age Group":age_range, "Percentage of Age Group": per_age_range}
df=pd.DataFrame(age_total_count_df)
df["Percentage of Age Group"]= (df["Percentage of Age Group"]*100).map("{:.1f}%".format)
df

             Age Group Percentage of Age Group
Adult              481                   61.7%
Teenager           138                   17.7%
Young Adult         99                   12.7%
Child               49                    6.3%
Older Adult         13                    1.7%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
print(purchase_file_df["Age"].min())
print(purchase_file_df["Age"].max())

7
45

In [149]:
bins=[5,13,19,20,39,50,]
age_group=["Child", "Teenager", "Young Adult", "Adult", "Older Adult"]
purchase_file_df["Age Group"] = pd.cut(purchase_file_df["Age"], bins, labels=age_group, include_lowest=True)
purchase_file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Young Adult
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,Older Adult
2,2,Ithergue48,24,Male,92,Final Critic,4.88,Adult
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,Adult
4,4,Iskosia90,23,Male,131,Fury,1.44,Adult
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,Adult
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,Adult
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,Young Adult
778,778,Sisur91,7,Male,92,Final Critic,4.19,Child
779,779,Ennrian78,24,Male,50,Dawn,4.60,Adult

In [95]:
data_by_age_df=purchase_file_df.groupby(["Age Group"])

In [96]:
average_price_age=data_by_age_df["Price"].mean()
average_price

Age Group
Child          3.122449
Teenager       3.042029
Young Adult    3.174949
Adult          3.023721
Older Adult    2.941538
Name: Price, dtype: float64

In [97]:
total_count_age=data_by_age_df["Purchase ID"].count()
total_count_age

Age Group
Child           49
Teenager       138
Young Adult     99
Adult          481
Older Adult     13
Name: Purchase ID, dtype: int64

In [111]:
total_purchases_age_count = purchase_file_df["Age Group"].value_counts()
total_purchases_age_count

Adult          481
Teenager       138
Young Adult     99
Child           49
Older Adult     13
Name: Age Group, dtype: int64

In [99]:
total_purchase_age=data_by_age_df["Price"].sum()
total_purchase_age

Age Group
Child           153.00
Teenager        419.80
Young Adult     314.32
Adult          1454.41
Older Adult      38.24
Name: Price, dtype: float64

In [112]:
avg_purchase_per_p= average_price/total_purchases_age_count*100
avg_purchase_per_p

Child           6.372345
Teenager        2.204369
Young Adult     3.207020
Adult           0.628632
Older Adult    22.627219
dtype: float64

In [113]:
purchasing_analysis_age={"Purchase Count":total_count_age,"Average Purchase Price":average_price, "Total Purchase Value":total_purchase_age,
                         "Average Total Purchase per Person": avg_purchase_per_p}
df=pd.DataFrame(purchasing_analysis_age)
df["Average Purchase Price"] =df["Average Purchase Price"].map("${:,.2f}".format)
df["Total Purchase Value"] =df["Total Purchase Value"].map("${:,.2f}".format)
df["Average Total Purchase per Person"] =df["Average Total Purchase per Person"].map("${:,.2f}".format)

df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Child,49,$3.12,$153.00,$6.37
Teenager,138,$3.04,$419.80,$2.20
Young Adult,99,$3.17,$314.32,$3.21
Adult,481,$3.02,"$1,454.41",$0.63
Older Adult,13,$2.94,$38.24,$22.63

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [226]:
spender_total = purchase_file_df.groupby(["SN"]).sum()["Price"]
spender_average = purchase_file_df.groupby(["SN"]).mean()["Price"]
spender_count = purchase_file_df.groupby(["SN"]).count()["Price"]
spender_total = { "Purchase Count": spender_count, 
                          "Average Purchase Price": spender_average,"Total Purchase Value": spender_total,"Purchase Count": spender_count}

df=pd.DataFrame(spender_total)
df_sorted= df.sort_values("Total Purchase Value",ascending=False).head(5)

df_sorted["Average Purchase Price"] =df_sorted["Average Purchase Price"].map("${:,.2f}".format)
df_sorted["Total Purchase Value"] =df_sorted["Total Purchase Value"].map("${:,.2f}".format)
df_sorted

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [198]:
purchase_file_df[["Item ID","Item Name","Price"]]

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [36]:
items= purchase_file_df.groupby(["Item ID","Item Name"])
items_id_name_price=items["Price"].sum()
items_id_name_count=items["Price"].count()
purchase_per_item=items_id_name_price/items_id_name_count

popular_items={"Purchase Count":items_id_name_count, "Item Price":purchase_per_item, "Total Purchase Value":items_id_name_price}
df=pd.DataFrame(popular_items)

df_sorted=df.sort_values("Purchase Count",ascending=False).head(5)

df_sorted["Item Price"] =df_sorted["Item Price"].map("${:,.2f}".format)
df_sorted["Total Purchase Value"] =df_sorted["Total Purchase Value"].map("${:,.2f}".format)

df_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [37]:
items= purchase_file_df.groupby(["Item ID","Item Name"])
items_id_name_price=items["Price"].sum()
items_id_name_count=items["Price"].count()
purchase_per_item=items_id_name_price/items_id_name_count

popular_items={"Purchase Count":items_id_name_count, "Item Price":purchase_per_item, "Total Purchase Value":items_id_name_price}
df=pd.DataFrame(popular_items)
df.sort_values("Total Purchase Value",ascending=False).head(5)
df_sorted=df.sort_values("Total Purchase Value",ascending=False).head(5)

df_sorted["Item Price"] =df_sorted["Item Price"].map("${:,.2f}".format)
df_sorted["Total Purchase Value"] =df_sorted["Total Purchase Value"].map("${:,.2f}".format)

df_sorted

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80